@tailwind base;
@tailwind components;
@tailwind utilities;

nav li.has-submenu:hover nav::before {
  border-bottom: 10px solid theme('colors.primary');
  border-bottom: 10px solid theme('colors.primary');
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: '';
  display: inline-block;
  height: 0;
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
}

h2 {
  @apply text-3xl font-semibold text-primary;
}

a {
  @apply font-bold text-primary hover:underline hover:underline-offset-4;
}

.content-block {
  p {
    @apply mb-4;
  }
}

.content-block button,
.button {
  @apply inline-block rounded tracking-wider;

  &.button-sm {
    @apply px-3 py-1.5;
  }
  &:not(.button-sm) {
    @apply px-4 py-3;
  }

  &.button-reversed {
    @apply bg-white text-primary;

    &:focus {
      @apply ring-white;
    }
  }
  &:not(.button-reversed) {
    @apply bg-primary text-sm text-white;

    &:focus {
      @apply ring-primary ring-offset-1;
    }
  }

  &:hover {
    @apply bg-secondary text-white no-underline;
  }
  &:focus {
    @apply outline-none ring-2;
  }
  &:active {
    @apply bg-link-active text-white;
  }
}
